@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');

:root{
    --cor-de-fundo: #79b869;
    --color: #0000;
    --cor-titulo: #333;
    --paragrafo: #666;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-de-texto);
    font-family: 'EB+Garamond';
}

    header {
        background-color: var(--cor-de-fundo);
        padding: auto;
        margin: 0;
        height: 25%;
    }

    .h1 {
        text-align: left;
        width: 100%;
        font-size: 32px;
        font-family: 'EB+Garamond';
        margin-top: 5px;
    }

  
.container{
    display: flex;
    gap: 7px;
    flex-direction: row;
}

.container img{
    display: inline-block;
    width: 30%;
    height: auto;
    margin-top: 25px;
}

.texto {
    width: 100%;
    height: auto;
    margin-top: 25px;
}

.container.reverse{
    flex-direction: row-reverse;
}
