
:root{
    --cor-de-fundo: #79b869;
    --color: #0000;
    --cor-titulo: #333;
    --paragrafo: #666;
}
body {
    font-family: Arial, sans-serif;
    background-color: var(--cor-de-fundo);
    color: var(--color);
    margin: 0;
    padding: 0;
    display: flex;
    height: auto;
}

header {
    background-color: var(--cor-de-fundo);
    padding: auto;
    margin: 0;
    height: 25%;
    text-align: center;
}

.container img{
    display: inline-block;
    width: 25%;
    height: auto;
    margin-top: 9px;
}

.container{
    display: flex;
    gap: 9px;
}

h1 {
    color: var(--cor-titulo);
    font-size: 24px;
    margin-top:auto;
    text-align: center;
    box-shadow: none;
}


p {
    color: var(--paragrafo);
    font-size: 16px;
}

